body{
    background-color:rgba(245, 231, 233, 0.993);
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}


.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;


}


.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.3s;
}

.card:hover::after {
  opacity: 1;
}

/* ================= CENTER OVERLAY ================= */
.card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;

  width: 85%;
  text-align: center;


  color: rgb(228, 207, 207);
  padding: 15px;
  border-radius: 10px;

  z-index: 2;
  transition: 0.3s;
}

.card:hover .card-overlay {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


.card-overlay h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #fff;
}

.card-overlay p {
  margin-bottom: 10px;
}

.card-overlay button {
  width: 60%;
  padding: 8px;
  border: none;
  background: #fff;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 768px) {

  .card img {
    height: 200px;
  }

  .card-overlay {
    position: static;
    transform: none;
    opacity: 1;
    background: #fff;
    color: #000;
    margin-top: 10px;
  }

  .card-overlay button {
    background: white;
    color: white;
  }

  .card::after {
    display: none;
  }
}